* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f9f9f9;
  color: #2c3e50;
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}








.header {
  background: #eeeeee;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 999;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.logo h2 {
  font-size: 1.5rem;
  color: #2c3e50;
}
.logo h2 span {
  color: #8e44ad;
  font-weight: bold;
}




nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}
nav a {
  text-decoration: none;
  color: #2c3e50;
  font-weight: 500;
  transition: color 0.3s ease;
}
nav a:hover {
  color: #8e44ad;
}




.language-switcher {
  text-align: right;
  font-size: 0.9rem;
}
.language-switcher button {
  background: none;
  border: none;
  font-weight: bold;
  color: #2c3e50;
  cursor: pointer;
}
.language-switcher button:hover {
  color: #1abc9c;
}
.language-switcher .active-lang {
  color: #8e44ad;
  border-bottom: 2px solid #8e44ad;
}
.section-subtitle {
  color: #555;
  margin: 0 auto 2rem;
  max-width: 700px;
  font-size: 1.1rem;
}



.character-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.character-text {
  flex: 1 1 500px;
  margin-right: 2rem;
}
.character-text h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.character-text p {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  color: #555;
}





.services-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}
.service-card {
  background: #fff;
  width: 300px;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.service-card h3 {
  margin-bottom: 1rem;
}
.service-card p {
  color: #555;
}
.btn-link {
  margin-top: 1rem;
  color: #8e44ad;
  text-decoration: none;
  font-weight: 500;
}
.btn-link:hover {
  text-decoration: underline;
}




.skill-section {
  background: #fff;
  padding: 4rem 0;
}
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
  justify-items: center;
}
.skill-item {
  background: #fff;
  padding: 1.5rem;
  width: 120px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.skill-item img {
  width: 64px;
  margin-bottom: 0.5rem;
}
.skill-item p {
  font-size: 0.9rem;
  color: #333;
}





.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 3rem;
}
.project-card {
  background: #fff;
  padding: 1rem;
  border-radius: 8px;
  text-align: left;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.project-card img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 1rem;
  max-width: 250px;
  max-height: 250px;
  height: 250px;
}
.project-card h3 {
  margin-bottom: 0.5rem;
}
.project-card p {
  font-size: 0.95rem;
  margin-bottom: 1rem;
  color: #555;
}
.project-links {
  display: flex;
  gap: 1rem;
}


.work-process-section {
  background-color: #f0f0f0;
}
.process-steps {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin-top: 2rem;
}
.step {
  background: #fff;
  width: 250px;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.step h3 {
  margin-bottom: 0.5rem;
  color: #2c3e50;
}
.step p {
  font-size: 0.95rem;
  color: #555;
}




.contact-section {
  background: #fff;
}
.contact-section p, .contact-section a{
  color: #8e44ad;
  font-weight: bold;
  text-decoration: none;
}




.service-card:hover,.project-card:hover,.skill-item:hover,.project-card:hover,.step:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
}




.footer-section {
  background: #2c3e50;
  color: #fff;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
}






@media (max-width: 768px) {
  .hero-content {
    flex-direction: column;
    text-align: center;
  }
  .hero-text {
    margin-right: 0;
  }
  .services-cards,
  .process-steps {
    flex-direction: column;
    align-items: center;
  }
}